.weather {
  border: 2px solid #ced4da;
  font-family: "Times New Roman", Times, serif;
  padding: 16px;
  margin: 30px auto;
  max-width: 500px;
  height: 300px;
  border-radius: 7px;
}
.weather form {
  margin-bottom: 20px;
}
.weather h2 {
  color: #495057;
  font-size: 24px;
  font-weight: 200;
  line-height: 28px;
  margin: 20px 0 0;
  padding-bottom: 10px;
}
.weather ul {
  margin: 0;
  padding: 0;
}
.weather li {
  color: rgba(73, 80, 87, 0.8);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.weather canvas {
  display: inline;
  margin-right: 15px;
  margin-top: 10px;
}
.weather .temp {
  font-size: 42px;
  font-weight: bold;
  display: inline;
  line-height: 64px;
}
.weather .unit {
  color: #495057;
  font-size: 16px;
  font-weight: 100;
  position: relative;
  top: -15px;
  line-height: 1;
}
.row {
  display: flex;
}
.float-left {
  display: flex;
  align-items: center;
}
